<div class="headingImage">
  <h4>{{ mainHeading }}</h4>

  <div class="searchBox">
    <input type="text" class="searchInput" placeholder="Search for any IP address or domain" [(ngModel)]="search" />
    <button type="submit" class="searchButton" (click)="onSub(search)">
      <svg xmlns="http://www.w3.org/2000/svg" width="11" height="14">
        <path fill="none" stroke="#FFF" stroke-width="3" d="M2 1l6 6-6 6" />
      </svg>
    </button>
  </div>

  <div class="card">
    <div>
      <div class="col-sm-3">
        <div class="card-body b-right">
          <h4>IP Address</h4>
          <p>{{ location.ipaddress }}</p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card-body b-right">
          <h4>Location</h4>
          <p>{{ location.city }}, {{ location.country }} {{ location.postalCode }}</p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card-body b-right">
          <h4>Timezone</h4>
          <p>UTC{{ location.timezone }}</p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card-body">
          <h4>ISP</h4>
          <p>{{ location.isp }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="map"></div>